/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16 !default;

/* paragraph indention */
$paragraph-indent           : false !default; // true, false (default)
$indent-var                 : 1.3em !default;

/* system typefaces */
$serif                      : Georgia, Times, serif !default;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif !default;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                    : Georgia, serif !default;
$times                      : Times, serif !default;
$bodoni                     : "Bodoni MT", serif !default;
$calisto                    : "Calisto MT", serif !default;
$garamond                   : Garamond, serif !default;

$global-font-family         : $sans-serif !default;
$header-font-family         : $sans-serif !default;
$caption-font-family        : $serif !default;

/* type scale */
$type-size-1                : 2.441em !default;  // ~39.056px
$type-size-2                : 1.953em !default;  // ~31.248px
$type-size-3                : 1.563em !default;  // ~25.008px
$type-size-4                : 1.25em !default;   // ~20px
$type-size-5                : 1em !default;      // ~16px
$type-size-6                : 0.75em !default;   // ~12px
$type-size-7                : 0.6875em !default; // ~11px
$type-size-8                : 0.625em !default;  // ~10px


/*
   Colors using solarized.
   ========================================================================== */
$base04:    #998052;
$base03:    #B6A587;
$base02:    #FFFBF4;
$base01:    #FFFFFF;
$base00:    #DCD0C0;
$base0:     #DCD5C0;
$base1:     #FFFEFC;
$base2:     #FFFBF0;
$base3:     #BAB092;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$gray                       : $base01 !default;
$dark-gray                  : $base02 !default;
$darker-gray                : $base03 !default;
$light-gray                 : $base00 !default;
$lighter-gray               : $base0 !default;

$body-color                 : $base03 !default;
$background-color           : $base03 !default;
$code-background-color      : #073642 !default;
$code-background-color-dark : #073642 !default;
$text-color                 : $base01 !default;
$border-color               : $base1 !default;

$primary-color              : $base0 !default;
$success-color              : $green !default;
$warning-color              : $yellow !default;
$danger-color               : $red !default;
$info-color                 : $base1 !default;

/* brands */
$behance-color              : $primary-color !default;
$dribbble-color             : $primary-color !default;
$facebook-color             : $primary-color !default;
$flickr-color               : $primary-color !default;
$foursquare-color           : $primary-color !default;
$github-color               : $primary-color !default;
$google-plus-color          : $primary-color !default;
$instagram-color            : $primary-color !default;
$lastfm-color               : $primary-color !default;
$linkedin-color             : $primary-color !default;
$map-marker-color           : $primary-color !default;
$pinterest-color            : $primary-color !default;
$rss-color                  : $primary-color !default;
$soundcloud-color           : $primary-color !default;
$stackoverflow-color        : $primary-color !default;
$steam-color                : $primary-color !default;
$tumblr-color               : $primary-color !default;
$twitter-color              : $primary-color !default;
$vimeo-color                : $primary-color !default;
$vine-color                 : $primary-color !default;
$youtube-color              : $primary-color !default;
$xing-color                 : $primary-color !default;


/* links */
$link-color                 : $base1 !default;
$link-color-hover           : $base2 !default;
$link-color-visited         : $base0 !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : $base1 !default;


/*
   Breakpoints
   ========================================================================== */

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 1024px !default;
$x-large                    : 1280px !default;


/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 200px !default;
$right-sidebar-width        : 300px !default;
$right-sidebar-width-wide   : 400px !default;


/*
   Other
   ========================================================================== */

$border-radius              : 4px !default;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$navicon-width              : 28px !default;
$navicon-height             : 4px !default;
$global-transition          : all 0.2s ease-in-out !default;
